<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Subway Finder</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- <script src="/lodash/index.js"></script> -->
    <script src="/angular.js"></script>
    <!-- <script src="/bootstrap.js"></script> -->
    <!-- <script src="/angular-ui-router/release/angular-ui-router.js"></script> -->
    <!-- <script src="/angular-bootstrap/ui-bootstrap.js"></script> -->
    <!-- <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
    <script src="/js/ng-app.js"></script>
</head>
<body ng-app="SubwayFinder">
  <div class="container">
    <!-- <div id="main" ui-view></div> -->
    <div class="col-sm-12 col-md-4"></div>
    <div class="col-sm-12 col-md-4">
      <station-picker></station-picker>
    </div>
    <div class="col-sm-12 col-md-4">
      <upcoming-trains></upcoming-trains>
    </div>
  </div>
</body>
</html>
