<!-- <div class="col-xs-12 col-sm-4">
  <div ng-repeat="(line, data) in lineFeed">
    {{line}} {{data}}
    <button class="btn station-btn" ng-click="selectLine">{{ line }}</button>
  </div>
</div> -->
<div class="col-xs-12 col-sm-4">
  <div ng-repeat="(index, line) in lineFeed">
    <button class="btn station-btn" ng-click="selectLine(index)">{{ line.lineName}}</button>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <h1>{{showme}}</h1>
</div>
<div class="col-xs-12 col-sm-4">
  <pre>{{ lineFeed | json}}</pre>
</div>
